stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  DOCKER_IMAGE_LATEST: $CI_REGISTRY_IMAGE:latest
  APP_NAME: musikfuerfirmen

build:
  stage: build
  image: docker:24-alpine
  services:
    - docker:24-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE -t $DOCKER_IMAGE_LATEST .
    - docker push $DOCKER_IMAGE
    - docker push $DOCKER_IMAGE_LATEST
  only:
    - main

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H -p 2222 git.nickheymann.de >> ~/.ssh/known_hosts
    - ssh-keyscan -H 91.99.177.238 >> ~/.ssh/known_hosts
  script:
    - ssh -p 22 root@91.99.177.238 "cd /opt/apps/$APP_NAME && docker compose pull && docker compose up -d"
  only:
    - main
  when: on_success
